.Portfolio_card {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.Portfolio_card img {
  width: 100%;
  height: 244px;
  border-radius: 16px;
  object-fit: cover;
}
.Portfolio_card h3 {
font-weight: 500;
font-size: 16.39px;
line-height: 100%;
letter-spacing: 0%;

}
.Portfolio_card p {
font-weight: 500;
font-size: 12.29px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(126, 126, 126, 1);
}
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .Portfolio_card {
    width: 48%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .Portfolio_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

}

@media (max-width: 400px) {
}
