.service_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 6% 120px;
}
.service_section button {
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}

.service_section h2 {
  font-weight: 500;
  font-size: 2.5rem;
  width: 35%;
  text-align: center;
  position: relative;
}
.service_section h2 span {
  color: rgba(123, 0, 255, 1);
}
.service_content {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 600px;
}
.left_service,
.right_service {
  width: 50%;
  height: 100%;
  position: relative;
}
.left_service {
  padding: 40px;
  background-color: rgba(247, 246, 249, 1);
  border-radius: 32px;
  position: relative;
    width: 50%;
}
.left_service img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.right_service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.right_service ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.right_service ul li {
  display: flex;
  position: relative;
  gap: 25px;
width: 100%;
  background-color: rgba(247, 246, 249, 1);
  height: 25%;
  border-radius: 32px;
  padding: 39px;
  
}
.right_service ul li h2 {
  font-size: 24px;
  font-weight: 500;
}
.right_service ul li p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(126, 126, 126, 1);
}
.text_servi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 80%;
}
.right_service ul li .icon_service {
  background-color: rgba(255, 255, 255, 1);
  height: 86px !important;
  width: 86px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.right_service ul li .icon_service svg {
  height: 40px;
  width: 40px;
}
.service_section .swiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 3;
  height: 100%;
  box-sizing: border-box;
}

.service_section .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.service_section .swiper-slide img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit:contain;
  background-color: white;
  position: relative;
  z-index: 3;
}



@media (max-width: 1200px) {
  .service_section {
    padding: 10% 30px;
  }
     .service_content {
    flex-direction: column;
    height: auto;
  }
    .service_content > div {
    width: 100%;
  }
       .service_section .swiper {
    max-width: 640px;
    height: auto;
    
  }
    .service_section h2 {
   
    width: 100% !important;
  }
}

@media (max-width: 992px) {
     .service_section .swiper {
    max-width: 650px;
    height: auto;
  }

}

@media (max-width: 768px) {
  .service_content {
    flex-direction: column;
    height: auto;
  }


}

@media (max-width: 576px) {
    .service_section .swiper {
    max-width: 350px;
    height: 100%;
  }
      .service_section h2 {
    font-size: 2rem;
    width: 100% !important;
  }
  .service_section .swiper-slide  {
   
    height: 100% !important;

  }

  .text_servi {
    flex: 1;
  }

  .left_service {
    padding: 20px;
  }
  .right_service ul li {
    align-items: flex-start;

    padding: 20px;
  }
  .icon_service {
    height: 60px !important;
    width: 60px !important;
  }
  .icon_service svg {
    height: 20px !important;
    width: 20px !important;
  }
  .right_service ul li h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .right_service ul li p {
    font-size: 13px;
    font-weight: 400;
    color: rgba(126, 126, 126, 1);
  }
}

@media (max-width: 400px) {
}
